header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;

}

.canvas {
    display: flex;
    justify-content: center;
}
.search-field {
    width: 50%;
    margin: 0 auto;
}

.input-field input[type="text"]:focus + label {
    color: #ff9800 !important;
}

.input-field input[type="text"]:focus {
    border-bottom: 1px solid #ff9800 !important;
    -webkit-box-shadow: 0 1px 0 0 #ff9800 !important;
    box-shadow: 0 1px 0 0 #ff9800 !important;
}

h2 {
    margin: 0;
}

h4 {
    margin: 0;
}

.link {
    fill: none;
    stroke: #bbb;
}

svg,
body,
html {
    width: 100vw;
    height: 55vh;
    font-family: sans-serif;
}

.movie_card {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    width: 90%;
    height: 30%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.movie_card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.movie_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}
.movie_card .info_section .movie_header {
    position: relative;
    padding: 0.5%;
    height: 45%;
}
.movie_card .info_section .movie_header h1 {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
.movie_card .info_section .movie_header h4 {
    color: #9ac7fa;
    font-weight: 400;
}
.movie_card .info_section .movie_header .minutes {
    display: inline-block;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .type {
    display: inline-block;
    color: #cee4fd;
    margin-left: 10px;
}
.movie_card .info_section .movie_header .locandina {
    position: relative;
    float: left;
    margin-right: 20px;
    height: 230px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.movie_card .info_section .movie_desc {
    padding: 3%;
    height: 40%;
    width: 100%;
}
.movie_card .info_section .movie_desc .text-description {
    color: #cfd6e1;
}
.movie_card .info_section .movie_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}
.movie_card .info_section .movie_social ul {
    list-style: none;
    padding: 0;
}
.movie_card .info_section .movie_social ul li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.4);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    margin: 0 10px;
}
.movie_card .info_section .movie_social ul li:hover {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.8);
}
.movie_card .info_section .movie_social ul li i {
    font-size: 19px;
    cursor: pointer;
}
.movie_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
}

@media screen and (min-width: 768px) {
    .movie_header {
        width: 100%;
    }

    .movie_desc {
        width: 50%;
    }

    .info_section {
        background: -webkit-gradient(
                linear,
                left top,
                right top,
                color-stop(50%, #0d0d0c),
                to(transparent)
        );
        background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
    }

    .blur_back {
        width: 80%;
        background-position: -100% 10% !important;
    }
}
@media screen and (max-width: 768px) {
    .movie_card {
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
    }

    .blur_back {
        width: 100%;
        background-position: 50% 50% !important;
    }

    .movie_header {
        width: 100%;
        margin-top: 85px;
    }

    .movie_desc {
        width: 100%;
    }

    .info_section {
        background: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(50%, #141413),
                to(transparent)
        );
        background: linear-gradient(to top, #141413 50%, transparent 100%);
        display: inline-grid;
    }
}
#bright {
    box-shadow: 0px 0px 5px 2px #0d0d0c;
}


.flex-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40%;
}

.flex-info > * {
    margin-right: 10px;
}

.bright_back > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.imdb-rating {
    color: white;
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 1.1rem 0;
    display: flex;
    align-items: center;
}

.imdb-rating > span {
    margin-right: 15px;
    padding-bottom: 6px;
}
.imdbIcon {
    height: 64px;
}

.extra-info {
    display: flex;
    flex-direction: column;
    color: white;
}

.extra-info > span {
    margin-right: 5px;
}

.companies {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
}

.watermark {
    color: red;
}
/*.bright_back {*/
/*    background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");*/
/*}*/
